@charset "UTF-8";

.btn {
    margin: 10px;
}
main {
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3 {
    font-style: italic;
}

@media (max-width: 450px) {
    h1 {
        font-size: 20pt;
        text-align: justify;
    }
}