@charset "UTF-8";

table {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    margin-left: 25px;
}
.container-crud_perfil {
    background: rgba(0, 0, 0, .05);
    width: 40vw;
    height: 60vh;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 10px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container-actions {
    padding: 20px;
    height: 50vh;
    background: rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .4);
    box-shadow: -2px 2px 10px rgba(0, 0, 0, .5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
main {
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.btns-action {
    background: none;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 100%;
    border-radius: 0px;
    transition: background .3s;
}
.container-actions :first-child{
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
    border-image-slice: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container-actions :last-child{
    border-top: 1px solid transparent;
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
    border-image-slice: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btns-action:hover {
    background: rgba(0, 0, 0, .1);
}