body, html {
    overflow: hidden;
}

.container-item {
    margin-top: 50px;
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40vh;
    margin-left: 10%;
    padding-right: 10%;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
    border-image-slice: 1;
}
.img-product {
    width: 80%;
    height: auto;
}
.container-info > div {
    height: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
    border-image-slice: 1;
}
.container-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-image: linear-gradient(0deg, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
    border-image-slice: 1;
    flex-direction: row;
    background: blue;
    padding-bottom: 30px;
}
.container-info :first-child {
    display: flex;
    flex-direction: column;
    margin-top: -1px;
}
.container-info :first-child > div {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
    border-image-slice: 1;
}
.container-info_title{
    font-family: 'Bebas Neue', cursive;
    font-size: 15pt;
}
.container-info_price {
    border-left: none;
    width: 100%;
}
.container-info_announcer {
    font-style: italic;
    font-weight: bolder;
    border: 2px solid red;
    margin-top: -15px;
}
.btn {
    margin-left: 25px;
    width: 100px;
    height: 25px;
    transition: transform .5s;
}
.btn:hover {
    transform: scale(1.2);
}
.container-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5px;
    padding: 7px;
    border-left: 1px solid transparent;
    border-image: linear-gradient(to top, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
    border-image-slice: 1;

}